@mixin input-block() {
  display: block;
  line-height: $line-height-input;
  margin: $width-gap 0 0;
  width: 100%;
}

@mixin input-and-button() {
  appearance: none;
  background-color: $color-background;
  border: $width-border solid $color-border;
  border-radius: $width-border-radius;
  // Follow the color of body text
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  padding: $width-padding-input;

  &:focus {
    border-color: $color-text-primary;
  }
}

.form {
  margin: 0;

  label {
    cursor: pointer;
    display: block;
    line-height: $line-height-input;
    margin-top: $width-gap;
    padding-bottom: $width-padding-input + 1px;
    padding-top: $width-padding-input + 1px;
  }

  [type=text],
  [type=password],
  [type=email],
  [type=search],
  [type=url],
  [type=tel],
  [type=number],
  textarea,
  select {
    @include input-and-button();
    @include input-block();
  }

  @media (max-width: $width-breakpoint - 1px) {
    [type=time],
    [type=week],
    [type=month],
    [type=date],
    [type=datetime-local] {
      margin: $width-gap 0 0;
    }
  }

  @media (min-width: $width-breakpoint) {
    [type=time],
    [type=week],
    [type=month],
    [type=date],
    [type=datetime-local] {
      @include input-and-button();
      @include input-block();
    }
  }

  [type=checkbox],
  [type=radio] {
    cursor: pointer;
    margin: 0 $width-padding-input 0 0;
  }

  select {
    cursor: pointer;
  }

  [type=file],
  [type=range] {
    @include input-block();

    cursor: pointer;
    padding: $width-padding-input + 1px;
  }

  [type=color],
  [type=image] {
    cursor: pointer;
    display: block;
    margin: $width-gap 0 0;
  }

  [disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  [readonly] {
    background-color: $color-background-faded;
  }
}
